footer
    #info
        .row
            .large-12.columns
                div
                    ul.small-block-grid-1.large-block-grid-4
                        li
                            h3 Heading 1
                            p
                                | Phasellus facilisis, nunc in lacinia auctor, eros lacus aliquet velit, quis lobortis risus nunc nec nisi. Maecenas et turpis vitae velit volutpat porttitor a sit amet est. Uthasellus facilisis, nunc in lacinia auctor, eros lacus aliquet velit, quis lobortis risus nunc nec nisi.
                        li
                            h3 Heading 2
                            p
                                | Phasellus facilisis, nunc in lacinia auctor, eros lacus aliquet velit, quis lobortis risus nunc nec nisi. Maecenas et turpis vitae velit volutpat porttitor a sit amet est. Uthasellus facilisis, nunc in lacinia auctor, eros lacus aliquet velit, quis lobortis risus nunc nec nisi.
                        li
                            h3 Heading 3
                            p
                                | Phasellus facilisis, nunc in lacinia auctor, eros lacus aliquet velit, quis lobortis risus nunc nec nisi. Maecenas et turpis vitae velit volutpat porttitor a sit amet est. Uthasellus facilisis, nunc in lacinia auctor, eros lacus aliquet velit, quis lobortis risus nunc nec nisi.
                        li
                            h3 Contact Us
                            ul
                                li
                                    i.fi-telephone
                                    |  (512)111-2222
                                li
                                    i.fi-home
                                    |  1234 Lorem ipsum
                                    br
                                    | Austin TX, 78681
                                li
                                    i.fi-mail
                                    a(href='mailto:info@yourdomain.com') info@yourdomain.com
                            img(src='img/map.png', alt='map')
    .copy
        .row
            .large-12.columns
                .large-6.pull-1.columns.text-center
                    p © Copyright First Baptist Church, Waco, TX