footer.row
    .footer.large-12.columns
        hr
        .row
            .large-6.columns
                img(src='/images/fbcWacoLogo.png')
                p &copy; First Baptist Church, Waco, TX
            .large-6.columns
                .right
                    .large-6.columns
                        ul
                            li: a(href='#') Sign in
                            li: a(href='#') Register
                            li: a(href='#') Get to know us
                    .large-6.columns
                        ul
                            li: a(href='#') Get Involved
                            li: a(href='#') Community
                            li: a(href='/contact') Contact us