 /*Main Color:*/
 /*background: rgb(51, 94, 181);*/
 /* dark main:

    border: rgb(32, 62, 124);*/
 /*Secondary Color:*/
 /*olor: #ea421e;*/


.jumbo{
    background-image: url(/img/fbcWacoDome.jpg);
    background-size: 100%;
    background-attachment: fixed;
    padding: 175px 0;
    margin-bottom: 30px;
    background-repeat: no-repeat;
}

.jumbo h1{
    color: #fff;
    text-align: center;
    margin-bottom: 15px;
    font-size: 4em;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.nav_space {
    margin-top: 50px;
}

.section{
    padding-top: 50px;
    padding-bottom: 50px;
}

/*.row:before { */
  /*display: block; */
  /*content: " "; */
  /*margin-top: -90px; */
  /*height: 90px; */
  /*visibility: hidden;*/
    /**/
/*}*/

/*section{*/
    /*padding-bottom: 150px;*/
/*}*/

#info {
    background: #eaeaea;
    padding-bottom: 30px;
}

#info li>ul>li{
    padding: 5px 0;
}


.copy{
    background: #fff;
    padding: 10px 0;
}

.copy p{
    color: #ea421e;
    margin-bottom: 0;
}

.copy a{
    color: #ea421e;
}

ul, ol, dl {
    list-style: none;
}

.th{
    border: none;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0);
    border-radius: 150px;
}
#portfolio{
    background-color: rgb(51, 94, 181);
}
#portfolio h2,h4{
    color: #fff;
    text-align: center;
}

#portfolio h4{
    margin-bottom: 30px;
}

#portfolio img, #about img{
    display: block;
    margin: 0 auto;
}

.f-topbar-fixed{
    padding-top: 0 !important;
}
.social a{
    padding: 0 5px !important;
    font-size: 1.5em !important;
}

h1, h2, h3, h5, h6, a {
    color: #ea421e;
}

a:hover{
    color: #000;
}

#info {
    padding-top: 20px;
}


/********************************************* MOBILE CSS ***********************************************/
@media only screen and (max-width: 800px) {
    .jumbo{
        margin-bottom: 0;
        padding: 50px 0 10px;
    
    }

    .jumbo h1{
        color: #fff;
        text-align: center;
        margin-bottom: 15px;
        font-size: 2em;
        text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    }
}