 /*Main Color:*/
 /*background: rgb(51, 94, 181);*/
 /*Secondary Color:*/
 /*olor: #ea421e;*/

.jumbo{
    background-image: url(/img/fbcWacoDome.jpg);
    background-size: 100%;
    background-attachment: fixed;
    padding: 175px 0;
    margin-bottom: 30px;
    background-repeat: no-repeat;
}

.jumbo h1{
    color: #fff;
    text-align: center;
    margin-bottom: 15px;
    font-size: 4em;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.contain-to-grid{
    background: rgb(51, 94, 181);
}

.top-bar{
    background: none;
}

.top-bar .name h1 a {
    color: rgb(192,192,192);
}

.top-bar-section ul li,
.top-bar-section li:not(.has-form) a:not(.button){
    background: none;
    
}


.top-bar-section ul li:hover:not(.has-form) > a {
    background: none;
}

@media only screen and (min-width: 58.75em) {
    .top-bar-section .dropdown li:not(.has-form):not(.active){
        background: none;
    }
    /* For Dropdown items in the current list */
    .top-bar-section .dropdown li:not(.has-form):not(.active) > a:not(.button) {
        background: rgb(51, 94, 181);
    }
    /*For dropdown items being hovered over*/
    .top-bar-section .dropdown li:not(.has-form):not(.active):hover > a:not(.button) {
        background: rgb(37, 64, 128);
    }
}


.top-bar-section li:not(.has-form) a:hover:not(.button){
    background: rgb(37, 64, 128);
    text-decoration: underline;
    
}

.top-bar-section ul li > a{
    color: rgb(192,192,192);
    font-weight: bold;
}

.active{
    text-decoration: underline;
    font-weight: bold !important;
}

.nav_space {
    margin-top: 50px;
}

.row:before { 
  display: block; 
  content: " "; 
  margin-top: -90px; 
  height: 90px; 
  visibility: hidden;
    
}

section{
    padding-bottom: 150px;
}

#contact{
    background: #eaeaea;
    padding-bottom: 30px;
}

#contact li>ul>li{
    padding: 5px 0;
}


.copy{
    background: #fff;
    padding: 10px 0;
}

.copy p{
    color: #ea421e;
    margin-bottom: 0;
}

.copy a{
    color: #ea421e;
}

ul, ol, dl {
    list-style: none;
}

.th{
    border: none;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0);
    border-radius: 150px;
}
#portfolio{
    background-color: rgb(51, 94, 181);
    
        
}
#portfolio h2,h4{
    color: #fff;
    text-align: center;
}

#portfolio h4{
    margin-bottom: 30px;
}

#portfolio img, #about img{
    display: block;
    margin: 0 auto;
}

.f-topbar-fixed{
    padding-top: 0 !important;
}
.social a{
    padding: 0 5px !important;
    font-size: 1.5em !important;
}

button, .button{
    background-color: rgb(51, 94, 181);
    border-color: rgb(51, 94, 181);
}

button:hover, .button:hover{
    background-color: rgba(51, 94, 181, 0.5);
    border-color: rgb(51, 94, 181);
}

h1, h2, h3, h5, h6, a {
    color: #ea421e;
}

a:hover{
    color: #000;
}

.top-bar .toggle-topbar.menu-icon a span:after {
    box-shadow: 0 0 0 1px #ea421e, 0 7px 0 1px #ea421e, 0 14px 0 1px #ea421e;
}

.top-bar .toggle-topbar.menu-icon a {
    padding: 0 30px 0 15px;
    
}
.top-bar .toggle-topbar.menu-icon {
    background: #fff;
    margin-right: 5px;
    border-radius: 5px;
}

@media only screen and (max-width: 800px) {
    .jumbo{
        margin-bottom: 0;
        padding: 50px 0 10px;
    
    }

    .jumbo h1{
        color: #fff;
        text-align: center;
        margin-bottom: 15px;
        font-size: 2em;
        text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    }
}