extends ../layouts/layout

block pageHead
    link(rel='stylesheet', type='text/css', href='//cdn.jsdelivr.net/jquery.slick/1.5.0/slick.css')
    link(rel='stylesheet', type='text/css', href='//cdn.jsdelivr.net/jquery.slick/1.5.0/slick-theme.css')


block content
    section.jumbo
        .row
            .large-12.columns
                h1 _Our Logo Here_
                p.text-center
                    a.medium.button.radius(href='http://epickwebdesign.com') Check Us Out!
    section#about
        .row
            .small-12.large-12.columns
                .text-center
                    h2 Welcome to our site!
                    p
                        | Morbi auctor lacinia mi nec suscipit. Vivamus eget dui dignissim, fermentum leo nec, suscipit nunc. Etiam feugiat lacinia sapien, lacinia hendrerit orci fermentum vitae. Quisque posuere vitae elit vitae ornare. Praesent ornare quam id. Morbi auctor lacinia mi nec suscipit. Vivamus eget dui dignissim, fermentum leo nec, suscipit nunc. Etiam feugiat lacinia sapien, lacinia hendrerit orci fermentum vitae. Quisque posuere vitae elit vitae ornare. Praesent ornare quam id.
                div
                    ul.small-block-grid-1.medium-block-grid-2.large-block-grid-3
                        li
                            img(src='http://placecage.com/350/200', alt='image1')
                            h3.text-center Heading 1
                            p
                                | Phasellus facilisis, nunc in lacinia auctor, eros lacus aliquet velit, quis lobortis risus nunc nec nisi. Maecenas et turpis vitae velit volutpat porttitor a sit amet est. Uthasellus facilisis, nunc in lacinia auctor, eros lacus aliquet velit, quis lobortis risus nunc nec.
                        li
                            img(src='http://fillmurray.com/350/200', alt='image2')
                            h3.text-center Heading 2
                            p
                                | Phasellus facilisis, nunc in lacinia auctor, eros lacus aliquet velit, quis lobortis risus nunc nec nisi. Maecenas et turpis vitae velit volutpat porttitor a sit amet est. Uthasellus facilisis, nunc in lacinia auctor, eros lacus aliquet velit, quis lobortis risus nunc nec.
                        li
                            img(src='http://placebear.com/350/200', alt='image3')
                            h3.text-center Heading 3
                            p
                                | Phasellus facilisis, nunc in lacinia auctor, eros lacus aliquet velit, quis lobortis risus nunc nec nisi. Maecenas et turpis vitae velit volutpat porttitor a sit amet est. Uthasellus facilisis, nunc in lacinia auctor, eros lacus aliquet velit, quis lobortis risus nunc nec.
    section#portfolio
        .row
            .large-12.columns
                h2 Our Recent Work
                h4.text-center Some of the best work we have done.
                ul.small-block-grid-1.medium-block-grid-2.large-block-grid-4
                    li: img.th(src='http://fillmurray.com/255/254', alt='image1')
                    li: img.th(src='http://placecage.com/c/255/255', alt='image2')
                    li: img.th(src='http://placebear.com/g/255/255', alt='image3')
                    li: img.th(src='http://fillmurray.com/255/255', alt='image1')
                    li: img.th(src='http://placecage.com/g/255/255', alt='image2')
                    li: img.th(src='http://placebear.com/g/255/254', alt='image3')
                    li: img.th(src='http://fillmurray.com/254/255', alt='image2')
                    li: img.th(src='http://placecage.com/255/255', alt='image3')


block pageFoot
    script(src='//cdn.jsdelivr.net/jquery.slick/1.5.0/slick.min.js')
    script.
        $(document).ready(function () {
            $('.carousel').slick({
                adaptiveHeight: true,
                arrows: true,
                autoplay: true,
                mobileFirst: true,
                dots: true
            });
        });