extends ../../layouts/layout
block pageHead
    link(rel='stylesheet', href='/css/gatherings.css')

block content
    .nav_space
        // Throw large image and place meeting times on there
            // http://risenchurch.com/
        // Consider merging this with the "Get Involved" tab

block pageFoot